.fixed {
    position: fixed;
}

body{
  max-width: 10000px;
}

.tab_item {
    display: none;
  }
  
  .is-active-item {
    display: block;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  

.userpage{
  width: 100%;
}

.t-card{
  max-width: 100%;
  height: auto;
}

.t-header {
  max-width: 100%;
  height: auto;
}

.my-top {
  background-color: white;
  height: 60px;
  padding-top: 20px;
}

.my-top li{
  display: inline;
  margin: 40px;

}

.my-card {
  background-color: white;
  height: auto;
  top: 100px;
}

.my-text {
  height: auto;
  width: 100%;
  background-color:white;
  margin: 0px 5px 10px 10px;
}


.my-like li{
  display: inline;
}

.my {
  margin: 10px;

}

.m-icon{
  border-radius: 100%;
  border: 4px solid;
  border-color: white;
  margin-left: 5%;
  position:absolute;
  margin-top: 20%;
  width: 25%;
  height: auto;
}

.my {
  width: 100%;
  height: auto;
  background-color: white;
}

.profile {
  height: auto;
  background-color: white;
}

.m-top{
  padding: 5px;
}

.name-box{
  background-color: white;
  margin-left: 30%;
  height: auto;
}

.name {
   margin-left: 50%;
   font-size: 25px;
}

.tabs{
  
}

.logos{ 
  width: 30px;
  height: 30px;
  bottom: 0px;
  margin-top: 9px;
}

.card-home {
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  position: absolute;
}

.a {
  width: 90%;
  height: 100px;
  background-color:blue;
}

.carousel .carousel-item{
  width:100%;
}

#nav-icon{
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

#test-swipe-1{
  width: 100%;
  height: 10000px;
  background-color: white;
}

#test-swipe-2{
  width: 100%;
  background-color:#29B6F6;
}

#test-swipe-3{
  width: 100%;
  background-color:#FFCA28;
}

#test-swipe-4{
  width: 100%;
  background-color:#42A5F5;
}

#test-swipe-5{
  width: 100%;
  background-color: white;
}

#test-swipe-6{
  width: 100%;
  background-color: white;
}

.nav-wrapper{
  background-color: gray;
}

.brand-log{
  left: 23%;
}

.tabs .indicator{
  background-color: black;
}

.m-footer{
  height: 56px;
  width: 100%;
  bottom: 0px;
  background-color: white;
  position: fixed;
}

.footer2{
  height: 56px;
  width: 100%;
  bottom: 0px;
  background-color:red;
  position: fixed;
  position: absolute;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tab-p{
  margin: 0 5px;
  margin-bottom: 10px;
  z-index: 0;
  top: 0;
}

.tabs .tab a{
  color: gray;
}


.tabs .tab a:hover, .tabs .tab a.active{
  color: black;
}



#m-icons {
  width: 56px;
  height: 56px;
  padding-bottom: 10px;
  padding-top: 10px;
}

li {
  list-style: none;
}